<% layout('layouts/boilerplate') -%>
<main class="main main--single-column">
  <hgroup class="headings headings--single-column">
    <h1 class="headings__h1">Privatumo politika</h1>
    <p class="headings__subheading">Nuobodi bet svarbi informacija apie tai kaip renkami ir valdomi Jūsų duomenys.</p>
  </hgroup>
  <section class="content content--single-column">
    <section class="text-container">
      <%# Credit to: https://zyro.com/lt/irankiai/privatumo-politikos-generatorius %>
      <h3 class="text-container__h3">Privatumo politika</h3>
      <p class="text-container__p"><%= rootUrl.hostname %> įmonei priklausančioje svetainėje <%= rootUrl.hostname %> yra renkami ir valdomi jūsų asmeniniai duomenys.</p>
      <p class="text-container__p">Ši Privatumo politika išaiškina, kaip <%= rootUrl.hostname %> naudoja jūsų asmeninius duomenis bei pateikia priežastis jūsų asmeninių duomenų rinkimui. Dėl to, prieš naršant <%= rootUrl.hostname %> svetainėje, perskaitykite šį dokumentą.</p>
      <p class="text-container__p">Mes užtikriname jūsų asmeninių duomenų saugumą ir konfidencialumą.</p>

      <h3 class="text-container__h3">Asmeniniai duomenys, kuriuos renkame:</h3>
      <p class="text-container__p">Kuomet naršote <%= rootUrl.hostname %>, automatiškai renkame tam tikrą informaciją apie jūsų įrenginį – naršyklė, IP adresas, laiko juosta ir jūsų įrenginio slapukai. Taip pat renkame statistinius duomenis apie naršymą svetainėje: puslapiai, kuriuose apsilankote, produktai, kuriuos peržiūrite bei kita svetainės naršymo informacija. Šią automatiškai renkamą informaciją vadiname „Įrenginio informacija“. Taip pat, galime rinkti asmeninius duomenis, kuriuos jūs mums suteikiate (vardas, pavardė, adresas, mokėjimo informacija ir t.t.) sukurdami paskyrą mūsų svetainėje.</p>

      <h3 class="text-container__h3">Kodėl renkame jūsų duomenis?</h3>
      <p class="text-container__p">Jūsų duomenų saugumas mums yra ypatingai svarbus, dėl to renkame ir valdome tik būtiniausius jūsų asmeninius duomenis, be kurių negalėtume užtikrinti sklandaus svetainės veikimo. Automatiškai renkami duomenys yra naudojami svetainės analitikoje. Tačiau užtikriname, kad statistinėje informacijoje neįmanoma atpažinti konkrečių vartotojų tapatybės.</p>

      <p class="text-container__p">Galite apsilankyti mūsų svetainėje, nesuteikdami jokios informacijos, kuria būtų galima identifikuoti jūsų asmens tapatybę. Tačiau, jeigu norėsite pasinaudoti mūsų svetainės funkcijomis, norėsite gauti mūsų naujienlaiškį arba užpildysite mūsų kontaktinę formą, tuomet taip galite suteikti mums savo asmeninių duomenų: el. pašto adresą, vardą, pavardę, gyvenamosios vietos informaciją, telefono numerį. Turite pasirinkimą nesuteikti mums savo asmeninių duomenų, tačiau tokiu atveju negalėsite naudotis dauguma svetainės teikiamų funkcijų. Svetainės lankytojai, nežinantys, kokią informaciją privalome rinkti, gali susisiekti su mumis el. paštu <%= `info@${rootUrl.hostname}` %>.</p>

      <h3 class="text-container__h3">Jūsų teisės:</h3>
      <p class="text-container__p"> Jeigu esate Europos gyventojas, jūs turite įvairių teisių, susijusių su jūsų asmens duomenų apsauga:</p>
      <ul class="text-container__ul">
        <li>Teisė būti informuotam.</li>
        <li>Teisė gauti savo informaciją, kurią mes tvarkome</li>
        <li>Teisė taisyti netikslią ar neteisingą informaciją apie jus.</li>
        <li>Teisė ištrinti visus duomenis apie jus.</li>
        <li>Teisė apriboti duomenų tvarkymą.</li>
        <li>Teisė perkelti visus surinktus duomenis apie jus kitam valdytojui.</li>
        <li>Teisė paprieštarauti asmens duomenų tvarkymui.</li>
        <li>Teisės, susijusios su automatinių duomenų valdymu.</li>
      </ul>
      <p class="text-container__p">Jeigu norite daugiau informacijos, susisiekite su mumis pasinaudoję žemiau pateikta kontaktine informacija.</p>
      <p class="text-container__p">Perspėjame, kad valdome Europos gyventojų asmeninius duomenis, norėdami išpildyti jūsų užsakymus arba kitaip įgyvendinti tikslus, išvardytus dokumento pradžioje. Atkreipkite dėmesį, kad jūsų duomenys gali būti perkelti už Europos ribų (pavyzdžiui, į Kanadą arba JAV).</p>

      <h3 class="text-container__h3">Nuorodos į kitas svetaines:</h3>
      <p class="text-container__p">Mūsų svetainėje gali būti kitų svetainių, kurių mes nevaldome, nuorodos. Pažymime, kad mes nesame atsakingi už kitų svetainių ar trečiųjų šalių asmeninių duomenų rinkimo procesus. Palikus mūsų svetainę, rekomenduojame perskaityti trečiųjų šalių svetainių privatumo politikas.</p>

      <h3 class="text-container__h3">Duomenų apsauga:</h3>
      <p class="text-container__p">Jūsų asmeninių duomenų apsaugai pasitelkiame aukščiausios kokybės serverius, kuriuos gali pasiekti tik įgalioti asmenys. Mes reguliariai stebime savo sistemas, norėdami nustatyti, ar nėra kokių nors pažeidžiamų vietų ar kibernetinių atakų, kurių metu galėtų nukentėti jūsų asmeniniai duomenys. Nepaisant to, negarantuojame absoliutaus jūsų asmeninių duomenų saugumo.</p>

      <h3 class="text-container__h3">Duomenų atskleidimas:</h3>
      <p class="text-container__p">Įstatymo numatyta tvarka pasiliekame teisę atskleisti jūsų asmeninius duomenis, jei reikėtų apginti savo teises, savo ir aplinkinių saugumą, ištirti nusikaltimą arba atsakyti į vyriausybės prašymą atskleisti jūsų asmeninius duomenis.</p>

      <h3 class="text-container__h3">Kontaktinė informacija:</h3>
      <p class="text-container__p">Jeigu norite gauti daugiau informacijos apie šią privatumo politiką arba apie jūsų asmeninius duomenis, kreipkitės į mus el. paštu <%= `info@${rootUrl.hostname}` %>.</p>
    </section>
  </section>
</main>